@tailwind base;
@tailwind components;
@tailwind utilities;

/* Install Prettier for auto class sorting */
/* [1] npm install -D prettier-plugin-tailwindcss */
/* [2] create .prettierrc.json in the project root (dont forget the . in the name)*/
/* [3] add: 
{
    "plugins": ["prettier-plugin-tailwindcss"]
  } */
/* [4] If it is not working - first try relaunching VS code */



/* CSS Variables based on project design */
@layer base {
  :root {
    /* Primary Clrs */
    --gray-900: 248, 15%, 11%;
    --gray-700: 248, 10%, 15%;
    --gray-500: 251, 9%, 53%;
    --gray-200: 252, 11%, 91%;

    --neon-green: 127, 100%, 82%;
    --red: 0, 91%, 63%;
    --orange: 13, 95%, 66%;
    --yellow: 42, 91%, 68%;


    /* Secondary Clrs */

  }
}

.test {
  /* gray-900 */
  color: hsl(248, 15%, 11%);
  /* gray-700 */
  color: hsl(248, 10%, 15%);
  /* gray-500 */
  color: hsl(251, 9%, 53%);
  /* gray-200 */
  color: hsl(252, 11%, 91%);
  /* neon-green */
  color: hsl(127, 100%, 82%);
  /* red */
  color: hsl(0, 91%, 63%);
  /* orange */
  color: hsl(13, 95%, 66%);
  /* yellow */
  color: hsl(42, 91%, 68%);
  color: #a3ffae;
}


.range-slider {
  position: relative;
  appearance: none;
  width: 100%;
  height: 8px;
  z-index: 1;
  background-color: hsl(var(--gray-900));
}


.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: hsl(var(--gray-200));
  cursor: pointer;
  z-index: 999;
  transition: all 0.2s ease-in-out
}

.range-slider::-webkit-slider-thumb:hover {
  background-color: hsl(var(--gray-900));
  border: 2px solid hsl(var(--neon-green));
}